body{
    background-image: url("img/bandpic.jpg");
    /* background-size: cover; */
    /* background-size: 1600 1200; */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

h1{
    background-color: rgba(0, 0, 255, 0.5);
    color:chartreuse;
    position: absolute;
    top: 7%;
    left: 51%;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Brush Script MT', cursive;
}

p{
    background-color: rgba(5, 0, 235, 0.5);
    color:rgb(255, 187, 0);
    position: absolute;
    bottom: 7%;
    right: 15%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Brush Script MT', cursive;
}
@media (max-width: 767px) {
    body{
        background-image: url("img/bandpic.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: black;
        background-size: 40% 40%;
    }

    h1{
        background-color: rgba(0, 0, 255, 0.5);
        color:chartreuse;
        position: absolute;
        top: 7%;
        left: 51%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Brush Script MT', cursive;
    }

    p{
        background-color: rgba(5, 0, 235, 0.5);
        color:rgb(255, 187, 0);
        position: absolute;
        bottom: 7%;
        right: 15%;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        font-family: 'Brush Script MT', cursive;
    }   
}

